.App {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  color: white;
  height: 700px;
  width: 900px;
}

.container {
  display: flex;
  justify-content: space-around;
}

.container section {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  align-items: center;
}

.container section h1 {
  font-size: 40px;
}

.container section h2 {
  align-self: flex-start;
  font-size: 20px;
}

.profile {
  border-left: 1px white solid;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.profile-picture {
  border-radius: 50%;
  height: 170px;
  width: 170px;
}

.timeline {
  list-style: none;
}

.tweet {
  margin: 10px;
  padding: 5px;
  border: deepskyblue 1px solid;
  border-radius: 3px;
  color: white;
}

.profile-link {
  align-self: flex-start;
  margin-left: 50px;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 30px;
  background-color: deepskyblue;
  font-weight: 700;
  text-decoration: none;
}

.profile-link:visited {
  color: white;
}
